@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html{
  background-image:url('/bg.png');
  background-size: cover;
}

.main{
  background-image:url('/bg.png');
  background-size: cover;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
}

.exag{
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-size: 36px;
}

.exag2{
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-size: 21px;
  opacity: 59%;
}

.exag2:hover{
  text-decoration: underline;
}


@media only screen and (max-width: 768px) {
  .main{
    background-image:url('/bg.png');
    background-size: cover;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
  }
  
  .exag{
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-size: 21px;
  }
  
  .exag2{
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-size: 14px;
    opacity: 59%;
  }
}